@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Cardo&family=Fraunces&family=Fredoka:wght@600&family=Hind+Madurai:wght@600&family=Hind+Siliguri&family=Inter:wght@400;600&family=Lilita+One&family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Space+Mono&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Cardo&family=Fraunces&family=Fredoka:wght@600&family=Hind+Madurai:wght@600&family=Hind+Siliguri&family=Inter:wght@400;600&family=Lato:wght@700&family=Lilita+One&family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Space+Mono&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.home {
  width: 1520px;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 4700px;
  background-image: url(/img/Grid\ bottom\ \(Zero\ Height\).png);
  background-color: #1C1C28;
}
.container .nav {
  width: 100%;
  height: 80px;
}
.container .nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-left: 350px;
}
.container .nav .menu p {
  margin: 0 auto;
  color: #C8C7D8;
  font-family: "Space Mono", monospace;
}
.container .nav .menu .btnn {
  display: none !important;
  width: 120px;
  border: none;
  border-radius: 6px;
}
.container .nav .menu .btn {
  width: 135px !important;
  display: flex;
  border: none;
  border-radius: 6px;
}
.container .nav .menu .menyu {
  display: none !important;
}
.container .hero {
  width: 800px;
  height: 500px;
  margin: 0 auto;
}
.container .hero p {
  text-align: center;
  font-family: Circular Std;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.022em;
  color: #FFFFFF;
  width: 808px;
  height: 264px;
}
.container .hero .row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.container .hero .row .btn-dark {
  background-color: #393953;
}
.container img {
  margin-left: 60%;
}
.container .rows {
  display: flex;
  flex-direction: row;
}
.container .rows .column {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .rows .column p {
  width: 200px;
  height: 32px;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.container .img-down {
  margin-left: 48%;
  margin-top: 50px;
}
.container .grants {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  margin-top: 200px;
}
.container .grants .p1 {
  font-family: Circular Std;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.022em;
  text-align: center;
  width: 600px;
  height: 48px;
  color: #FFFFFF;
  margin-left: 50px;
}
.container .grants .p2 {
  width: 600px;
  height: 48px;
  font-family: Circular Std;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: center;
  color: #C8C7D8;
  margin-left: 50px;
}
.container .grants .p3 {
  width: 195px;
  height: 24px;
  font-family: Circular Std;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: center;
  color: #6966FF;
  margin-left: 230px;
}
.container .grants img {
  margin-top: -83px;
}
.container .grantss {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  margin-top: 100px;
}
.container .grantss .img-spake {
  position: absolute;
  margin-left: 440px;
  margin-top: -90px;
}
.container .grantss .p1 {
  font-family: Circular Std;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.022em;
  text-align: center;
  width: 600px;
  height: 48px;
  color: #FFFFFF;
  margin-left: 50px;
}
.container .grantss .p2 {
  width: 600px;
  height: 48px;
  font-family: Circular Std;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: center;
  color: #C8C7D8;
  margin-left: 50px;
}
.container .grantss .p3 {
  width: 195px;
  height: 24px;
  font-family: Circular Std;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: center;
  color: #6966FF;
  margin-left: 230px;
}
.container .grantss img {
  margin-top: -83px;
}
.container .frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.container .frame .box {
  width: 27%;
  height: 450px;
  border-radius: 10px;
  background: #393953;
  background-color: #393953;
}
.container .frame .box .avatar2 {
  width: 100px;
  height: 45px;
  margin-top: -100px;
}
.container .frame .box img {
  width: 100%;
  margin-left: 0px;
  margin-top: 20px;
}
.container .frame .box .avatar {
  width: 100px;
  height: 45px;
  margin-top: -100px;
}
.container .frame .box .mini-box {
  width: 108%;
  margin-left: -12px;
  border-radius: 10px;
  height: 25%;
  background-color: #232334;
}
.container .frame {
  width: 100%;
  display: flex;
  flex-direction: roy;
}
.container .blog-post {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: -50px;
}
.container .blog-post .box {
  width: 45%;
  height: 100%;
  background-color: #393953;
  margin-left: 3%;
  border-radius: 16px;
}
.container .blog-post .box img {
  width: 107%;
  margin: auto;
  margin-left: -10px;
}
.container .grid-container {
  width: 70%;
  margin: 0 auto;
}
.container .grid-container .grid-item {
  color: white;
  padding: 10px;
  border-bottom: 2px solid #393953;
  display: flex;
  flex-direction: row;
}
.container .grid-container .grid-item .p1 {
  width: 1168px;
  height: 24px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: left;
}
.container .grid-container .grid-item .p2 {
  width: 368px;
  height: 24px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: right;
}
.container .app-box {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.container .app-box .box {
  border-radius: 16px;
  width: 30%;
  height: 90%;
  margin: 0 auto;
}
.container .app-box .box4 {
  rotate: -2deg;
}
.container .app-box .box4 .imgg1 {
  width: 110%;
  height: 110%;
  margin-left: 0px;
}
.container .app-box .box4 .right-stk {
  margin-top: -800px;
  margin-left: 300px;
}
.container .app-box .box4 .cured-right {
  display: none;
}
.container .app-box .box5 {
  margin-top: 40px;
  rotate: 2deg;
}
.container .app-box .box5 .imgg2 {
  width: 110%;
  height: 110%;
  margin-left: 0px;
}
.container .app-box .box5 .right-arr {
  margin-top: -200px;
  margin-left: 300px;
}
.container .app-box .box5 .cured-right3 {
  display: none;
}
.container .app-box .box6 {
  margin-top: 40px;
  rotate: -2deg;
}
.container .app-box .box6 .imgg3 {
  width: 110%;
  height: 110%;
  margin-left: 0px;
}
.container .section {
  border-radius: 16px;
  width: 90%;
  height: 250px;
  margin: 0 auto;
  background: linear-gradient(325.79deg, #6966FF 24.5%, rgba(105, 102, 255, 0.36) 117.69%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .section .pp1 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}
.container .section .pp2 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.022em;
  text-align: center;
  color: #FFFFFF;
}
.container .section .btn-primary {
  width: 170px;
  height: 50px;
  background-color: white;
  color: #6966FF;
  border: none;
  border-radius: 7px;
}
.container .footerr {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}
.container .footerr img {
  width: 60px;
  height: 60px;
  margin: 0px;
}
.container .footerr p {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #C8C7D8;
  margin-top: 25px;
}
.container .footerr .row {
  margin-left: 370px;
}
.container .footerr .row img {
  width: 50px;
  height: 24px;
}

@media screen and (max-width: 450px) {
  html {
    width: 100%;
  }
  .home {
    width: 100%;
  }
  .home .container {
    height: 7850px;
  }
  .home .container .nav .menu .btn {
    display: none !important;
  }
  .home .container .nav .menu .btnn {
    display: block !important;
    margin-left: -300px;
    margin-top: -80px;
  }
  .home .container .nav .menu .menyu {
    display: block !important;
    margin-top: -80px;
    width: 70px;
    height: 70px;
    margin-left: -40px;
  }
  .home .container .nav .menu p {
    width: 100%;
    display: none !important;
  }
  .home .container .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .container .hero p {
    font-size: 50px;
    width: 100%;
  }
  .home .container .hero img {
    margin-top: 250px;
    margin-left: 20%;
  }
  .home .container .hero .row {
    display: flex;
    flex-direction: column;
  }
  .home .container .hero .row .btn {
    width: 100%;
    margin-top: 20px;
  }
  .home .container .hero .rows {
    display: flex;
    flex-direction: row;
  }
  .home .container .hero .rows .column {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
  }
  .home .container .hero .rows .column p {
    width: 200px;
    height: 32px;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
  }
  .home .container .hero .img-down {
    margin-top: 30px;
    margin-left: 0%;
  }
  .home .container .grants {
    margin-top: 900px;
    width: 100%;
  }
  .home .container .grants .p1 {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
  }
  .home .container .grants .p2 {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
  }
  .home .container .grants .p3 {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
  }
  .home .container .grants img {
    margin-top: -50px;
    margin-left: 270px;
  }
  .home .container .grantss {
    width: 100%;
  }
  .home .container .grantss .img-spake {
    position: absolute;
    margin-top: -80px;
  }
  .home .container .grantss .p1 {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
  }
  .home .container .grantss .p2 {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
  }
  .home .container .grantss .p3 {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
  }
  .home .container .grantss img {
    margin-top: -50px;
    margin-left: 270px;
  }
  .home .container .frame {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    row-gap: 20px;
  }
  .home .container .frame .box {
    height: 470px;
    width: 100%;
    margin-left: 10px;
  }
  .home .container .blog-post {
    height: 800px;
    display: flex;
    justify-content: center !important;
    flex-direction: column;
  }
  .home .container .blog-post .box {
    margin-top: 20px;
    width: 40%;
    height: 45%;
  }
  .home .container .grid-container {
    width: 100%;
  }
  .home .container .app-box {
    height: 1200px;
    display: flex !important;
    flex-direction: column !important;
  }
  .home .container .app-box .box {
    margin-top: 70px;
    height: 27%;
    width: 90%;
  }
  .home .container .app-box .right-arr {
    display: none !important;
  }
  .home .container .app-box .right-stk {
    display: none !important;
  }
  .home .container .app-box .box4 {
    z-index: 3 !important;
  }
  .home .container .app-box .cured-right {
    display: block;
    position: absolute !important;
    z-index: 2 !important;
    margin-left: 50px;
  }
  .home .container .app-box .box5 {
    z-index: 1 !important;
  }
  .home .container .app-box .cured-right3 {
    display: block;
    position: absolute !important;
    z-index: 2 !important;
    margin-left: 0px;
  }
  .home .container .section .pp1 {
    font-size: 16px;
  }
  .home .container .section .pp2 {
    font-size: 35px;
  }
  .home .container .footerr {
    flex-direction: column;
    margin-left: 0px;
    align-items: start;
  }
  .home .container .footerr p {
    text-align: start;
  }
}
.discover .header {
  width: 1440px;
  height: 550px;
  border: 1px solid;
  margin: 0 auto;
  Background: #1C1C28;
  align-items: center;
}
.discover .header .header_nav {
  width: 100%;
  height: 15%;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discover .header .header_nav .nav__list {
  list-style-type: none;
  display: flex;
  gap: 80px;
  color: #FFFFFF;
  align-items: center;
}
.discover .header .header_nav .nav__list button {
  width: Hug 145px;
  height: Hug 48px;
  padding: 12px 14px 12px 14px;
  border-radius: 7.2899999619px;
  gap: 10px;
  background: #6966FF;
}
.discover .header .header_hero {
  width: 808px;
  height: 144px;
  border: 1px solid;
  text-align: center;
  margin: 0 auto;
  margin-top: 110px;
}
.discover .header .header_hero p {
  font-family: Circular Std;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.022em;
  text-align: center;
  color: azure;
}
.discover .header .header_hero b {
  color: azure;
}
.discover .header .header_text {
  width: 395px;
  height: 48px;
  list-style: none;
  display: flex;
  color: aliceblue;
  gap: 80px;
  margin: 0 auto;
  margin-top: 80px;
}
.discover .info {
  width: 1440px;
  height: 1900px;
  Background: #1C1C28;
  margin: 0 auto;
}
.discover .info .box {
  width: 808px;
  height: 168px;
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  background: #393953;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.discover .info .box button {
  width: 85px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  border-radius: 100px;
  border: 1px;
  gap: 16px;
}
.discover .info .box .boxes {
  width: 643px;
  height: 120px;
  border: 1px solid;
  color: #fff;
}
.discover .info .box .boxes b {
  font-size: 24px;
  color: #FFFFFF;
}
.discover .info .box .comp {
  width: 105px;
  height: 32px;
  background: #16B57F;
}
.discover .info .box_open {
  background: rgb(77, 77, 194);
}
.discover .info section {
  width: 1440px;
  height: 416px;
  margin: 0 auto;
  border: 1px solid;
  Background: #1C1C28;
}
.discover .info section .content {
  width: 1224px;
  height: 256px;
  border-radius: 8px;
  background: #6966FF;
  margin: 0 auto;
  text-align: center;
}
.discover .info section .content p {
  color: #fff;
  font-size: 20px;
}
.discover .info section .content .create {
  font-size: 40px;
  color: #fff;
}
.discover .info section .content button {
  width: 169px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 7.2899999619px;
  border-radius: 8px;
}
.discover footer {
  width: 1440px;
  height: 180px;
  Background: #1C1C28;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.discover footer .footer_menu {
  list-style: none;
  display: flex;
  color: #fff;
  gap: 20px;
  align-items: center;
}

.container {
  margin: 0 auto;
}

.funded {
  margin-top: 600px !important;
  margin: 0 auto;
  width: 1520px;
  height: 2848px;
  background: #232334;
}
.funded .funded-nav {
  display: flex;
  width: 100%;
  height: 72px;
}
.funded .funded-nav .funded-nav-logo {
  margin-left: 32px;
  width: 20%;
  height: 100%;
}
.funded .funded-nav .funded-nav-list {
  margin-left: 40px;
  display: flex;
  width: 80%;
  height: 100%;
}
.funded .funded-nav .funded-nav-list .nav-btn-1 {
  display: none;
  margin-top: 12px;
  width: 66px;
  height: 40px;
  border-radius: 7.29px;
  background: #6966ff;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.154px;
}
.funded .funded-nav .funded-nav-list img {
  display: none;
}
.funded .funded-nav .funded-nav-list ul {
  margin-left: 100px;
  margin-top: 24px;
  display: flex;
  list-style: none;
  column-gap: 32px;
}
.funded .funded-nav .funded-nav-list ul li {
  color: #c8c7d8;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.funded .funded-nav .funded-nav-list .nav-btn {
  margin-left: 12px;
  margin-top: 10px;
  width: 141px;
  height: 48px;
  border-radius: 7.29px;
  background: #6966ff;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Circular Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.funded .funded-grants {
  margin-top: 110px;
  width: 100%;
  height: 250px;
}
.funded .funded-grants h1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 1.32px;
}
.funded .funded-grants .menu {
  display: flex;
  margin-top: 52px;
  width: 100%;
  height: 50px;
}
.funded .funded-grants .menu .all {
  margin-left: 108px;
  width: 52px;
  height: 48px;
  border-radius: 7.29px;
  background: #393953;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.funded .funded-grants .menu h4 {
  margin-left: 40px;
  margin-top: 12px;
  color: #c8c7d8;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.funded .funded-grants .menu h4 span {
  display: none;
}
.funded .funded-grants .menu ul {
  list-style: none;
  display: flex;
}
.funded .funded-grants .menu ul li {
  margin-left: 40px;
  margin-top: 12px;
  color: #c8c7d8;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.funded .funded-grants .switch {
  display: flex;
}
.funded .funded-grants .switch img {
  margin-top: 15px;
  margin-left: 108px;
  width: 40px;
  height: 20px;
}
.funded .funded-grants .switch h4 {
  margin-left: 19px;
  margin-top: 12px;
  color: #c8c7d8;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.funded .funded-grants .cards {
  margin-top: 104px;
  padding-left: 108px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 1600px;
  gap: 24px;
}
.funded .funded-grants .cards .card1 {
  padding: 24px;
  width: 344px;
  height: 512px;
  background-color: #393953;
  border-radius: 16px;
}
.funded .funded-grants .cards .card1 p {
  color: #a59eba;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.funded .funded-grants .cards .card1 h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1.456px;
}
.funded .funded-grants .cards .card1 h5 {
  color: #a59eba;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.funded .funded-grants .cards .card1 h6 {
  display: none;
  color: #a59eba;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.funded .funded-grants .cards .card1 h4 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.funded .funded-grants .cards .card1 img {
  margin-top: 218px;
  border-radius: 100px;
}
.funded .funded-grants .cards .card2 {
  padding: 24px;
  width: 344px;
  height: 512px;
  background-color: #393953;
  border-radius: 16px;
}
.funded .funded-grants .cards .card2 .card2-top {
  margin-top: -24px;
  margin-left: -24px;
  width: 344px;
  height: 178.889px;
  background-color: #2d2d3d;
  border-radius: 16px;
}
.funded .funded-grants .cards .card2 p {
  color: #a59eba;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.funded .funded-grants .cards .card2 h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1.456px;
}
.funded .funded-grants .cards .card2 h5 {
  color: #a59eba;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.funded .funded-grants .cards .card2 h6 {
  display: none;
  color: #a59eba;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.funded .funded-grants .cards .card2 h4 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 24px;
  letter-spacing: -0.176px;
}
.funded .funded-grants .cards .card2 img {
  margin-top: 60px;
  border-radius: 100px;
}
.funded .let {
  padding-top: 40px;
  margin-top: 1900px;
  margin-left: 35px;
  width: 1224px;
  height: 248px;
  border-radius: 16px;
  background: linear-gradient(322deg, #6966ff 0%, rgba(105, 102, 255, 0.36) 100%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.funded .let h4 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 350;
  line-height: 24px;
  letter-spacing: -0.252px;
}
.funded .let h2 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 1.88px;
}
.funded .let .apply {
  margin-top: 40px;
  margin-left: 540px;
  width: 169px;
  height: 48px;
  border-radius: 7.29px;
  background: #fff;
  border: none;
  color: #6966ff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
}
.funded .footer {
  margin-top: 160px;
  display: flex;
  width: 100%;
  height: 80px;
}
.funded .footer .footer-left {
  display: flex;
  width: 850px;
}
.funded .footer .footer-left img {
  margin-top: 10px;
  margin-left: 108px;
}
.funded .footer .footer-left ul {
  display: flex;
  list-style: none;
  column-gap: 32px;
}
.funded .footer .footer-left ul li {
  margin-top: 25px;
  color: #c8c7d8;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.funded .footer .footer-left ul li span {
  margin-left: -100px;
}
.funded .footer .footer-right {
  margin-left: 320px;
  display: flex;
  width: 100px;
  height: 100%;
  column-gap: 32px;
}
.funded .footer .footer-right img {
  margin-top: 20px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 450px) {
  .funded {
    width: 450px;
    height: 6700px;
  }
  .funded .funded-nav {
    margin-left: -10px;
    width: 420px;
  }
  .funded .funded-nav .funded-nav-logo {
    margin-left: 20px;
    width: 110px;
  }
  .funded .funded-nav .funded-nav-logo img {
    margin-top: 16px;
    width: 74px;
    height: 43px;
  }
  .funded .funded-nav .funded-nav-list {
    margin-left: 140px;
    width: 120px;
    display: flex;
  }
  .funded .funded-nav .funded-nav-list .nav-btn-1 {
    margin-top: 15px;
    width: 66px;
    height: 40px;
    display: block;
    text-align: center;
  }
  .funded .funded-nav .funded-nav-list img {
    display: flex;
    margin-top: 25px;
    margin-left: 28px;
    width: 20px;
    height: 20px;
  }
  .funded .funded-nav .funded-nav-list ul {
    display: none;
  }
  .funded .funded-nav .funded-nav-list ul li {
    display: none;
  }
  .funded .funded-nav .funded-nav-list .nav-btn {
    display: none;
  }
  .funded .funded-grants {
    margin-top: 44px;
    width: 420px;
    margin-left: -10px;
  }
  .funded .funded-grants h1 {
    font-size: 32px;
  }
  .funded .funded-grants .menu {
    width: 420px;
  }
  .funded .funded-grants .menu ul {
    display: none;
  }
  .funded .funded-grants .menu .all {
    margin-left: 24px;
    width: 50px;
    height: 40px;
  }
  .funded .funded-grants .menu h4 {
    display: flex;
    margin-top: 10px;
  }
  .funded .funded-grants .menu h4 span {
    margin-top: 3px;
    display: flex;
    width: 16px;
    height: 16px;
  }
  .funded .funded-grants .switch {
    margin-left: -110px;
  }
  .funded .funded-grants .cards {
    width: 420px;
    height: 5000px;
  }
  .funded .funded-grants .cards .card1 {
    margin-left: -70px;
  }
  .funded .funded-grants .cards .card2 {
    margin-left: -70px;
  }
  .funded .let {
    margin-top: 5200px;
    margin-left: 10px;
    width: 390px;
    height: 306px;
  }
  .funded .let h4 {
    font-size: 16px;
  }
  .funded .let h2 {
    font-size: 24px;
    font-style: normal;
  }
  .funded .let .apply {
    margin-left: 80px;
    width: 240px;
    height: 50px;
  }
  .funded .footer {
    display: block;
    width: 412px;
    height: 608px;
  }
  .funded .footer .footer-left {
    width: 300px;
    height: 500px;
    display: block;
  }
  .funded .footer .footer-left img {
    margin-left: 30px;
    width: 59px;
    height: 59px;
  }
  .funded .footer .footer-left ul {
    display: block;
  }
  .funded .footer .footer-left ul li {
    font-size: 14px;
  }
  .funded .footer .footer-left ul li span > img {
    margin-top: -6px;
    margin-left: 110px;
    width: 12px;
    height: 12px;
  }
  .funded .footer .footer-right {
    margin-top: -170px;
    margin-left: 30px;
    display: block;
    width: 300px;
    height: 30px;
  }
}
.youtube {
  width: 1520px;
}

.category {
  width: 1520px;
}

.about {
  width: 1520px;
}

.program {
  width: 1520px;
}

.blog {
  width: 1520px;
}

.round {
  width: 1520px;
}

.brand {
  width: 1520px;
}

.grant {
  width: 1520px;
  height: 1700px;
  border: 1px solid;
  margin: 0 auto;
  background-color: #1C1C28;
}

.logo {
  display: flex;
}

.logo-list {
  display: flex;
  margin-left: 700px;
}

.Applyforgrant {
  width: 140px;
  height: 40px;
  text-align: center;
  border-radius: 7.29px;
  background: var(--accent-brand, #6966FF);
  color: white;
  margin-left: 50px;
}

.arright {
  display: inline-flex;
  justify-content: center;
  border: 1px solid;
  background: var(--background-1, #393953);
  margin-left: 300px;
  margin-top: 300px;
}

.person {
  display: flex;
  width: 808px;
  height: 220px;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 300px;
}

.h1 {
  color: var(--text-icon-primary, #FFF);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  margin-top: 100px;
  margin-right: 100px;
}

.about {
  margin-left: 350px;
}

.about-text {
  color: var(--base-white, #FFF);
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.252px;
}

.link-text {
  color: var(--text-icon-primary, #FFF);
  font-family: Circular Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.252px;
}

.Projects-text {
  color: var(--text-icon-primary, #FFF);
  text-align: center;
  font-family: Circular Std;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-top: 200px;
}

.section-2 {
  display: flex;
  margin-left: 380px;
}

.grant-title {
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.456px;
  color: #FFFFFF;
}

.grant-title-2 {
  font-family: Circular Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.456px;
  color: #FFFFFF;
}

.section-2-1 img {
  margin-top: 200px;
}

.section-2-2 {
  background-color: #393953;
  border-radius: 16px;
  margin-left: 20px;
}

.section-2-1 {
  background-color: #393953;
  border-radius: 16px;
}

.section-2-2 img {
  margin-top: 220px;
}

.x-img {
  margin-left: 100px;
}

.malumot {
  display: flex;
  margin-left: 200px;
  gap: 30px;
}

.tg {
  margin-left: 500px;
}

.footer {
  width: 100% !important;
}
.footer h5 {
  color: #C8C7D8;
}

@media screen and (max-width: 926px) {
  .main {
    width: 100%;
    height: 1700px;
  }
}
.FAQ {
  width: 1520px;
}

.apply {
  width: 1520px;
}

/*# sourceMappingURL=main.css.map */
